/*
 * Font
 *   .tt : monospace
 *   .nb : not bold
 *   .mr : Meiryo UI
 * Color
 *   .red : red font
 *   .green : green font
 *   .blue : blue-font
 * Multicolmn
 *   .clearfix : clearfix
 *   .col3 : multi-columns
 *   .col3 : multi-columns
 * Border
 *   .bo : border
 * Layout
 *   .i : indent
 *   .ce : center
 *   .nw : nowrap
 *   .mb1 : margin bottom 1em
 *   .mt1 : margin top 1em
 * List
 *   .nomark : no mark
 *   .dl1 : data list
 * Semantics
 *   .cm : comment
 *   .success : success
 *   .info : information
 *   .warning : warning
 *   .caution : caution
 *   .index-title: index-title
 * Code
 *   .tab : tab
 *   .c : code box
 *   .c2 : code box with tab
 *   .dos : dos command
 * Table
 *   .tb0 : table
 *   .tb1 : table
 *   .vl : table vertical line (with .tb1)
 * Reset
 *   .reset : reset
 */

/* Font */
body {
  /* font-family: verdana, 'Meiryo UI', 'メイリオ', 'ＭＳ Ｐゴシック', 'ヒラギノ角ゴシック', sans-selif; */
  font-family: 'Meiryo UI', 'メイリオ', 'ＭＳ Ｐゴシック', 'ヒラギノ角ゴシック', sans-selif;
}
pre, code {
  font-family: Consolas, 'Meiryo UI', 'メイリオ', 'ＭＳ Ｐゴシック', 'ヒラギノ角ゴシック', sans-selif;
}
.teletype, .tt {
  font-family: Consolas, 'Courier New', 'ＭＳ ゴシック', monospace;
}
.notbold, .nb {
  font-weight: normal;
}
.meiryo, .mr {
  font-family: 'Meiryo UI';
}

/* Color */
.red {
  color: red;
}
.green {
  color: green;
}
.blue {
  color: blue;
}

/* Global */
* {
  font-size: inherit;
}
html {
  background-color: #f0f0f0;
}
body {
  font-size: 10pt;
  margin: 0 auto 0 auto;
  max-width: 940px;
  min-height: 940px;
  padding: .8em;
  background-color: #fff;
}
h2 {
  font-size: 16pt;
  padding: 6px;
  margin: 0 0 8px 0;
  border-top: 5px solid #469;
  border-bottom: 5px solid #469;
}
h2::before {
  content: url("image/popase.gif") " ";
}
h2.reset::before {
  content: "";
}
h3 {
  padding: 0 0 0 4px;
  font-size: 16pt;
  border-left: 4px solid #469;
}
h4 {
  margin: 1em 0 1em 0;
  font-size: 13pt;
  padding: 3px 3px 1px 0px;
  border-bottom: 1px solid #ccc;
}
h5 {
  margin: 0;
}
h5 i {
  font-weight: normal;
}
h1.reset, h2.reset,
h3.reset, h4.reset,
h5.reset, h6.reset {
  margin: .5em 0;
  padding: 0;
  border: none;
}
h1.reset {
  font-size: 2em;
}
h2.reset {
  font-size: 1.5em;
}
h3.reset {
  font-size: 1.17em;
}
h4.reset {
  font-size: 1em;
}
p {
  margin: .7em 0 .7em 0;
}
ul {
  margin-left: -1em;
}
em {
  color: #f00;
  font-style: normal;
}
em.reset {
  color: inherit;
  font-style: italic;
}
a:link, a:visited {
  color: #113366;
}
a:hover {
  color: #f00;
}
a.reset:hover {
  color: inherit;
}

/* Multicolmn */
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.clearfix .col3 {
  width: 22%;
  float: left;
  padding-right: 10px;
}
.clearfix .col6 {
  width: 47%;
  float: left;
  padding-right: 10px;
}

/* Border */
.border, .bo {
  border: 1px solid gray;
}

/* Layout */
@media screen and (min-width: 768px) {
  .indent, .i {
    margin-right: 1em;    /* INDENT */
    margin-left: 0;       /* INDENT3 */
    margin-left: 1em;     /* INDENT */
    margin-left: 0;       /* INDENT3 */
  }
}
.indent, .i {
  margin-top: 1em;
  margin-bottom: 1em;
}
.center, .ce {
  text-align: center;
}
.nowrap, .nw {
  white-space: nowrap;
}
.mt1 {
  margin-top: 1em;
}
.mb1 {
  margin-bottom: 1em;
}

/* List */
.nomark {
  list-style-type: none;
  margin-top: 0;
  margin-left: -1em;
}
.dl1 dt {
  margin-top: 1em;
  font-weight: bold;
}
.dl1 dd {
  margin-left: 1em;
}

/* Semantics */
.comment, .cm {
  color: #888;
}
.success {
  margin: 1em 0 1em 0;
  padding: 8px;
  background-color: #dfd;
  border: 1px solid #ada;
  color: #363;
}
.info {
  margin: 1em 0 1em 0;
  padding: 8px;
  background-color: #eee;
  border: 1px solid #ccc;
  color: #000;
}
.warning {
  margin: 1em 0 1em 0;
  padding: 8px;
  background-color: #ffd;
  border: 1px solid #dda;
  color: #442;
}
.caution {
  margin: 1em 0 1em 0;
  padding: 8px;
  background-color: #fdd;
  color: #c33;
}
.index-title {
  margin: .5em 0 .1em 0;
  padding: .2em;
  color: #fff;
  font-weight: bold;
  background-color: #469;
  text-align: center;
}

/* Code */
.title-tab, .tab {
  margin: .5em 0 0 0;
  display: inline-block;
  vertical-align: bottom;
  padding: 0 .7em 0 .7em;
  font-size: 6pt;
  border-top: 1px solid #999;
  border-right: 1px solid #999;
  border-left: 1px solid #999;
  border-radius: 4px 4px 0 0;
  color: #456;
  text-align: center;
  font-weight: bold;
  background-color: #d8e0f0;
}
.c, .c2, .dos {
  margin: 1em 0 1em 0;
  border: 1px solid #999;
  border-radius: 0px 2px 2px 2px;
  padding: 5px;
  background-color: #f6f6f6;
  overflow: auto;
}
.c2 {
  margin: 0 0 1em 0;
}
.dos {
  background-color: #333;
  color: #fff;
}
.dos em {
  color: #f88;
}
.dos .cm {
  color: #888;
}

/* Table */
.tb0, .tb1 {
  margin: 1em 0 1em 0;
  border-collapse: collapse;
}
.tb1 {
  width: 100%;
}
.tb1 caption {
  text-align: left;
}
.tb0 th, .tb0 td, .tb1 th, .tb1 td {
  padding: 2px 4px 2px 4px;
  vertical-align: top;
}
.tb0 th, .tb0 td {
  border: 1px solid #999;
}
.tb1 th, table.tb1 td {
  border-top: 1px solid #999;
  border-bottom: 1px solid #999;
}
.tb0 th, .tb1 th {
  background-color: #d8e0f0;
  color: #456;
  font-weight: bold;
}
.tb1 th {
  text-align: left;
}
.tb1.vl th, .tb1.vl td {
  border: 1px solid #999;
}
.tb1.js {
  width: unset;
}

/* HTML Reference */
.htmlelem {
  background-color: #e0eeff;
  padding: 6px 6px 12px 6px;
}
.htmlelem dt {
  margin-top: .6em;
  font-weight: bold;
}
.htmlelem dt:first-child {
  margin-top: 0;
}
.htmlelem dd {
  margin-left: 2em;
}
.htmlattr dt {
  margin-top: 1em;
  font-weight: bold;
}
.htmlattr dt i {
  font-weight: normal;
}
.htmlattr dd {
  margin-left: 2em;
}
.htmlvalue dt {
  margin-top: 0;
  font-weight: bold;
}

/* CSS Reference */
.csssum th {
  width: 120px;
  text-align: center;
}

/* ==========================================================
 * 試験的
 * ======================================================= */
* {
  font-size: 10.5pt;
}
html {
  background: #e0e0e0;
}
body {
  max-width: 800px;
  padding-right: 1.5em;
  padding-left: 1.5em;
}
h2 {
  font-size: 200%;
  border: 0 none;
  border-bottom: 4px solid #333399;
}
h4 {
  font-size: 140%;
  border: 0 none;
}
ul, ol {
  margin-left: -1.3em;
}
.c, .c2 {
  font-family: Consolas;
  font-size: 12px;
}
.c em, .c2 em {
  font-size: 12px;
}
